Django==4.2.16
python-dotenv
django-cors-headers
djangorestframework
djangorestframework-simplejwt
psycopg2
psycopg2-binary
django-extensions
getmac
django-taggit
Pillow
django-currentuser
user-agents
django-user-agents
unidecode
requests
gunicorn
django-protected-media
djangorestframework-api-key
boto3
django-storages
cryptography
django-ckeditor-5
whitenoise
dj-database-url
